<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<style>
  img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
</style>

    <title>School Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="../../../dashboard_public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
   
<link rel="stylesheet" href="../../../dashboard_public/vendor/fontawesome-free/css/all.min.css">
    <!-- Page level plugin CSS-->

    <!-- Custom styles for this template-->
    <link href="../../../dashboard_public/css/sb-user.css" rel="stylesheet">

      </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/user/dashboard">Menu</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        
      </form>

      <!-- Navbar -->
  
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/register-student">
            <i class="fas fa-address-card"></i>
            <span>Register a Student</span>
          </a>
        </li>
   
              
        <li class="nav-item">
          <a class="nav-link" href="/user/tables">
            <i class="fas fa-fw fa-table"></i>
            <span>Registered Students</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/user/pending-school-fee">
              <i class="fas fa-user-circle"></i>
              <span>General Pending Arrears</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/user/student-data-sheet">
              <i class="fas fa-fw fa-table"></i>
              <span>School Data Sheet</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/school-settings">
              <i class="fas fa-users-cog"></i>
              <span>School Settings</span></a>
          </li>


        <li class="nav-item">
          <a class="nav-link" href="/user/logout">
            <i class="fa fa-sign-out-alt"></i>
            <span>Logout</span></a>
        </li>
        
      </ul>

      <div id="content-wrapper">
             <!-- /.container-fluid -->
             <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                <%- include('../../Includes/messages.ejs') %>
                Data Table Example</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <form action="/user/pending-school-fee" method= "POST">
                    <input id="search-input" placeholder="Search by name ..." type="search" name="search" style="border: 1px dotted rgb(47, 13, 235); padding: 10px 20px;border-radius: 20px;box-shadow: 5px 2px rgb(0, 0, 0);">
                    <button id="search-btn" style="border:none; padding: 7px 10px;border-radius: 10px;color: rgb(153, 15, 15); margin-left: 7px;" class="my-3" type="submit">Search</button>
                   </form>
                    <tr>
                      <th>ID</th>
                      <th>Student Name</th>
                      <th>DOB</th>
                      <th>Gender</th>
                      <th>Parent Name</th>
                      <th>Parent Address</th>
                      <th>Parent Contact</th>
                      <th>Passport Photo</th>
                      <th>Date Modified</th>   
                     <th>School Name</th>               
                      <th>Arrears(&#8373;)</th>                     
                     
                    </tr>
                    
                    <%
                    if(userData.length!=0){
                    var i=1;
                    userData.forEach(function(data){
                    %>
                    <tr>
                        <td><%=data.student_id %></td>
                        <td><%=data.student_name %></td>
                        <td><%=data.dob %></td>
                        <td><%=data.gender %></td>
                        <td><%=data.parent_name %></td>
                        <td><%=data.address %></td>
                        <td>0<%=data.parent_mobile_number %></td>
                        <td><img src="../../dashboard_public/student_image/<%= data.student_image %> "</td>
                        <td><%=data.date_modified %></td>           
                        <td><%=data.school_name %></td> 
                         <td><%=data.current_fees.toLocaleString('en-US') %></td>
                       
                       
                        
                    </tr>
                    <%  i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="7">No Data Found</td>
                        </tr>
                    <% } %>
                </table>
                </div>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
  
        </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © My School 2022</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->
   
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
   

 
<!-- Modal -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  
</div>

<div class="text-center">
 
</div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="../../../dashboard_public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../dashboard_public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../../dashboard_public/vendor/jquery-easing/jquery.easing.min.js"></script>
  
   

    <!-- Custom scripts for all pages-->
    <script src="../../../dashboard_public/js/sb-user.min.js"></script>

    <!-- Demo scripts for this page-->
   
   

  </body>

</html>
